spring:
  messages:
    encoding: UTF-8
  spring:
    profiles:
      active: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/minemanager_db?currentSchema=mine
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        hbm2ddl.create_namespaces: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
logging:
  file:
    name: logs/spring.log
  level:
    root: INFO
application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000 # a day
      refresh-token:
        expiration: 604800000 # 7 days
    admin:
      username: ${ADMIN_USERNAME:admin}
      password: ${ADMIN_PASSWORD:Admin123}

